{% extends 'base.html' %}
{% load static %}

{% partialdef briefing_celestial %}
{% block content %}
<div id="component">
    <div
            class="hero h-[80vh] lg:h-[75vh] bg-base-200"
            style="background-image: url('/static/images/brief/base.jpg');">
        <div class="hero-overlay bg-opacity-10"></div>
        <div class="hero-content text-neutral-content text-center">
            <div class="max-w-md">
                <h1 class="mb-5 text-3xl font-bold">{{ title }}</h1>
            </div>
        </div>
    </div>
    <!-- Detailed Information Section -->
    <section class="bg-gray-900 text-gray-100 py-12 px-6 lg:px-20">
        <div class="card bg-gray-800 p-4 mb-8">
            <div class="flex justify-center mt-10">
                <h3 class="text-2xl font-semibold mb-4">{{ title }}</h3>
            </div>
            <ul class="list-disc list-inside text-gray-100 space-y-2">
                {% for prompt in prompts %}
                <li>{{ prompt.0 }} : {{ prompt.1 }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="flex justify-center mt-10">
            <a href="/">
            <button  class="btn btn-primary">Finish Game</button>
            </a>
        </div>

    </section>
</div>


{% endblock %}
{% endpartialdef %}